{{#if isSaveRunning}}
  <p data-test-loading-spinner>The task is updating</p>
{{else}}
  <div class="flex content-center mb-2 justify-between">
    <h3 class="self-center" data-test-title>
      {{task.title}}
    </h3>
    <p class="self-center" data-test-status>
      {{#if task.complete}}
        Complete
      {{else}}
        <div class="bg-red rounded-full h-4 w-4"></div>
      {{/if}}
      {{#if isSolicitor}}
        <button
          onclick={{perform toggleComplete}}
          data-test-completed-toggle
        >
          {{#if task.complete}}
            Mark Outstanding
          {{else}}
            Mark Complete
          {{/if}}
        </button>
      {{/if}}
    </p>
  </div>
  <p data-test-description>{{task.description}}</p>

  {{conveyance-action action=task.currentAction isOwner=isOwner }}

  <h4>Case Notes</h4>
  {{#if editingNotes}}
    {{textarea
      value=task.notes
      rows=5
      data-test-task-notes-editing-view=true
    }}
    <button
      onclick={{perform saveNotes}}
      disabled={{notesAreUnedited}}
      data-test-save-notes-button
    >
      Save Changes
    </button>
    <button
      onclick={{action "cancelEditing"}}
      data-test-cancel-note-edit-button
    >
      Cancel
    </button>
  {{else}}
    <p data-test-task-notes>{{task.notes}}</p>
    {{#if currentUser.user.isSolicitor}}
      <button
        onclick={{action "toggleIsEditing"}}
        data-test-edit-notes-button
      >
        Edit Notes
      </button>
    {{/if}}
  {{/if}}
  {{yield}}
{{/if}}