{{#if action.isDocumentUpload}}
  {{#if action.documents}}
    <ul>
      {{#each action.documents as |doc|}}
        <li>
          {{doc.name}}
          <button data-test-document-download>Download</button>
        </li>
      {{/each}}
    </ul>
    {{#if (not showDocumentUploader)}}
      <button
        onclick={{action 'toggleUploadMoreDocuments'}}
        data-test-upload-more-documents
      >
        Upload more documents
      </button>
    {{/if}}
  {{else}}
    {{#if (not isOwner)}}
      <p data-test-non-owner-message>Awaiting document upload</p>
    {{/if}}
  {{/if}}

  {{#if showDocumentUploader}}
    {{document-upload
      action=action
      onFileAdd=uploadDocument
      onDrop=multipleDocumentUpload
      fileQueueName=fileQueueName
    }}
  {{/if}}
{{/if}}

{{#if action.isApproval}}
  {{action.description}}

  <button>Approve</button>
  <button>Decline</button>
{{/if}}


{{yield}}