<p>Property</p>
{{#if conveyance.address}}
  <div data-test-property-address>
    {{formatted-address address=conveyance.address}}
  </div>
{{else}}
  <span>Property address not yet added</span>
{{/if}}

<p>Status</p>
<span data-test-status>{{conveyance.numberOfCompleteTasks}}/{{conveyance.tasks.length}} tasks complete</span>

{{#link-to 'conveyances.show' conveyance}}
  View your
  {{#if conveyance.isPurchase}}
    purchase
  {{else if conveyance.isSale}}
    sale
  {{else if conveyance.isChain}}
    case
  {{/if}}

{{/link-to}}

{{yield}}