<div class="mt-8">
  <h4>Here is your quote</h4>
  <h2 class="text-orange mt-4">£1,500</h2>
  <small>(inc. VAT)</small>
  <p class="mt-4">This quote includes all fees and charges.</p>
  <p class="mt-4">If you'd like to appoint us, then we will need your name and email address in order to create an account</p>
  <form
    class="w-3/4 mx-auto mt-4 leading-loose text-left"
    onsubmit={{action "transitionToDeposit"}}
  >
    <div class="max-w-md mx-2 mx-auto mb-4">
      <label for="firstName">First Name</label>
      {{input
        type="text"
        class="block shadow py-2 px-3 w-full"
        placeholder="First Name"
        id="firstName"
        value=firstName}}
    </div>
    <div class="max-w-md mx-2 mx-auto mb-4">
      <label for="middleNames" class="block">Middle Names</label>
      {{input
        type="text"
        class="block shadow py-2 px-3 w-full"
        placeholder="Middle Names"
        id="middleNames"
        value=middleNames}}
    </div>
    <div class="max-w-md mx-2 mx-auto mb-4">
      <label for="lastName" class="block">Last Name</label>
      {{input
        type="text"
        class="block shadow py-2 px-3 w-full"
        placeholder="Last Name"
        id="lastName"
        value=lastName}}
    </div>
    <div class="max-w-md mx-2 mx-auto mb-4">
      <label for="email" class="block">Email</label>
      {{input
        type="email"
        class="block shadow py-2 px-3 w-full"
        placeholder="Email"
        id="email"
        value=email}}
    </div>
    <div class="max-w-md mx-2 mx-auto mb-4">
      <label for="password" class="block">Password</label>
      {{input
        type="password"
        class="block shadow py-2 px-3 w-full"
        id="password"
        value=password}}
    </div>
    <div class="flex justify-center">
      <button
        type="submit"
        class="p-4 bg-green shadow hover:bg-green-dark text-white"
      >
        Appoint Us
      </button>
    </div>
  </form>
</div>